JAXBDemoC/web/WEB-INF/wsdl/localhost_8080/JAXBDemo/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://xml.netbeans.org/schema/User" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0" targetNamespace="http://xml.netbeans.org/schema/User">

<xs:complexType name="UserInfo">
<xs:sequence>
<xs:element name="username" type="xs:string"/>
<xs:element name="password" type="xs:string"/>
<xs:element name="birth" type="tns:birthday"/>
<xs:element name="name" type="tns:name"/>
<xs:element name="email" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="birthday">
<xs:sequence>
<xs:element name="birth_year" type="xs:string"/>
<xs:element name="birth_month" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="name">
<xs:sequence>
<xs:element name="first_name" type="xs:string"/>
<xs:element name="last_name" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>